<app-search-bar [title]="listName"
                (search)="search($event)" (socialShare)="socialSharing($event)" [showSocial]="true"></app-search-bar>
<ion-content>
  <app-tareas [tasks]="db.tasks | search: termino"
              [listId]="listId"
              *ngIf="db.tasks.length > 0"></app-tareas>
  <ion-text color="danger"
            *ngIf="db.tasks.length <= 0"
            class=""  style="margin-left: 10px;"><br/>No tasks found! Please create your first one!</ion-text>

  <app-back-button></app-back-button>

  <!-- boton añadir-->
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button color="danger"
                    class="animated fadeIn fast"
                    (click)="createTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>