.picker-button{
    border-radius: 50%;
    width: 15%;
    float: center;
    height: 60px;
    background-color: transparent;
}


.iconsRow{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}