.full {
    color: #eb445a;
    margin-top: 5px;
    margin-right: 15px;
}

.casi-full {
    color: #ffbb33;
    margin-top: 5px;
    margin-right: 15px;
}

.ok {
    color: #33b5e5;
    margin-right: 5px;
    margin-top: 15px;
}
