<ion-header>
  <ion-toolbar>
    <ion-title class="animated fadeIn fast">Manage Categories</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/lists"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-categorias [categories]="db.categories"></app-categorias>

  <!-- Fab esquina derecha para añadir listas -->
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button color="primary"
                    (click)="router.navigateByUrl('tabs/categories/edit')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>