<ion-header>
  <ion-toolbar>
    <ion-title class="animated fadeIn fast">Manage Categories</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/lists"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="animate fadeIn fast"
              *ngFor="let category of db.categories; let i = index;"
              lines="full"
              (click)="moveToCategory(i)"
              button>
      <ion-icon [name]="category.icon"
                slot="start"></ion-icon>
      <ion-label>{{category.name}}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="options"
                slot="end"
                (click)="showOptions($event, category.id)"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Fab esquina derecha para añadir listas -->
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button color="primary"
                    (click)="createCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>