<app-search-bar title="Manage Categories"
                (search)="search($event)" (socialShare)="socialSharing($event)" [showSocial]="false"></app-search-bar>

<ion-content>
  <app-categorias [categories]="db.categories | search: termino"></app-categorias>

  <!-- Fab esquina derecha para añadir listas -->
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button color="danger"
                    (click)="router.navigateByUrl('tabs/categories/edit')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-back-button></app-back-button>
</ion-content>