<ion-card class="animate fadeIn fast"
          (click)="goToTasks()" [ngStyle]="{'border-left': '5px solid '+ list.color}" 
          >
  <ion-card-header>
    <ion-row>
      <ion-col size="10"
               class="ion-text-left">
        <ion-card-title>{{( list.name.length>20)? ( list.name | slice:0:20)+'..':( list.name)}}</ion-card-title>
        <ion-card-subtitle *ngIf="list.note" style="margin-top: 5px;">
          <span>{{( list.note.length>15)? ( list.note | slice:0:15)+'..':( list.note)}}</span>
        </ion-card-subtitle>
      </ion-col>
      <ion-col size="2"
               class="ion-text-right">
        <ion-icon name="options"
                  size="large"
                  color="primary"
                  (click)="showOptions($event, list.id)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-content>
    <ion-row class="fecha-row">
      <ion-col size="12"
               class="ion-text-left">
        <ion-badge>{{list.created_at | date: 'medium'}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"
               class="ion-text-left">
        <ion-icon name="attach"
                  color="tertiary"
                  class="icon">&nbsp;</ion-icon>
        <ion-text class="text"> {{list.tasks.length}} items</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-icon name="checkmark-circle"
                  color="primary"
                  class="icon">&nbsp; &nbsp;</ion-icon>
        <ion-text class="text"> {{numCompleted}}/{{list.tasks.length}} completed</ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>