<app-search-bar title="Lists"
                (search)="search($event)"
                (socialShare)="socialSharing($event)"
                [showSocial]="true"></app-search-bar>
<ion-content class="ion-no-padding">

  <super-tabs id="mainTabs">
    <!-- Segements -->
    <super-tabs-toolbar slot="top">
      <!-- Segment 1 -->
      <super-tab-button>
        <ion-label>ALL</ion-label>
      </super-tab-button>
      <!-- Segment 2 -->
      <super-tab-button>
        <ion-label>CATEGORIES</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>

    <!-- Tabs content -->
    <super-tabs-container>
      <!-- Tab 1 -->
      <super-tab>
        <ion-content>
          <app-listas *ngIf="db.lists.length > 0"
                      [lists]="db.lists | search:termino | archived: false"
                      (listSize)="getListSize($event)"></app-listas>
          <ion-text class="ion-padding ion-text-center animated fadeIn fast"
                    color="danger"
                    *ngIf="!showList"
                    style="display:flex; vertical-align: middle;">No lists found. Go create one!</ion-text>
          <app-add-list-button></app-add-list-button>
        </ion-content>
      </super-tab>

      <!-- Tab 2 -->
      <super-tab>
        <ion-content>
          <a style="margin-top: 80px; margin-left: 10px;" (click)="nav.navigateRoot('tabs/categories')" >Manage Categories</a>
          <app-categorias [categories]="db.categories | search: termino"></app-categorias>
        </ion-content>
      </super-tab>

    </super-tabs-container>
  </super-tabs>
</ion-content>