.colorSelect {
    color: yellow !important;
    background-color: red;
}

.picker-button{
    border-radius: 50%;
    width: 10%;
    float: center;
    height: 30px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    border-color: transparent;
	width: 80px;
	height: 32px;
}

.buttonColors{
    text-align: center;
    width: 100%;
}